<mat-sidenav-container class="fill-viewport">
  <mat-sidenav opened="true" mode="side">
    <div>
      <mat-nav-list>
        <a mat-list-item (click)="roomClick(room)" *ngFor="let room of rooms">
          <mat-icon>
            favorite
          </mat-icon>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-toolbar>
    <app-toolbar style="width: 100%;"></app-toolbar>
  </mat-toolbar>
  <div class="main-container">
    <app-main [room]="selectedRoom"></app-main>
  </div>
</mat-sidenav-container>